
<link href="~/PlugableMvc/Sandbox/wwwroot/css/site.css" />

<div class="text-center">
    <h1 class="display-4">Welcome From Sandbox</h1>
</div>

<script src="~/PlugableMvc/Sandbox/wwwroot/js/site.js"></script>